[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "==1.13.0"
pyqtgraph = "==0.10.0"
dataclasses = "*"
requests = "*"
websocket-client = "*"
peewee = "*"
psycopg2 = "*"
mongoengine = "*"
numpy = "==1.19.3"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pycryptodome = "==3.9.9"
futu-api = "*"
tigeropen = "*"
rqdatac = "*"
ta-lib = "*"
ibapi = "*"
deap = "*"
pyzmq = "*"
plotly = "*"
quickfix = "*"
trading-calendars = "*"
influxdb = "*"
PyQt5 = "==5.14.1"
QDarkStyle = "*"
PyMySQL = "*"
WMI = "*"
QScintilla = "==2.11.4"

[dev-packages]

[requires]
python_version = "3.9"
